{% extends "base.html" %}

{% block stylesheet %}
{% endblock %}

{% block body %}
    

    <form action="?c=user&t=insert" method="post">
        <ul>
        <li>
            <label for="name">Nom&nbsp;:</label>
            <input type="text" id="nom" name="user_nom" />
        </li>
        <li>
            <label for="name">Prenom&nbsp;:</label>
            <input type="text" id="prenom" name="user_prenom" />
        </li>
        <li>
            <select name="ville_id">
                {% for ville in villes %}
                    <option value={{ville.id}}>{{ ville.ville_nom }}</option>
                {% endfor %}
            </select>
        </li>
        </ul>

        <div class="button">
            <button type="submit" name="submit">Envoyer le message</button>
        </div>
        <h1>test</h1>
        <h2>test2222</h2>
    </form>

  {% endblock %}